# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv
ENV
python-*.log

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
notebooks/*.ipynb
!notebooks/captcha.ipynb

# MLflow
mlruns/
mlflow.db
mlflow.db-journal

# Models and Pickles
models/*.pkl
!models/captcha_svm_model.pkl
!models/label_encoder.pkl
!models/scaler.pkl
*.h5
*.joblib

# Project Specific
app/uploads/*
!app/uploads/.gitkeep
app/__pycache__/
model_logic.py
main.py
update_nb.py
fix_joblib.py
clean_nb.py

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
