# Core ML & Data Science
kagglehub
numpy
matplotlib
joblib
scikit-learn
scikit-image
seaborn

# FastAPI Web Server
fastapi
uvicorn
python-multipart
jinja2
websockets

# ML Production (CPU optimized)
torch --index-url https://download.pytorch.org/whl/cpu
torchinfo
